Checks: >
  -*,
  bugprone-*,
  concurrency-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-identifier-naming
WarningsAsErrors: ''
HeaderFilterRegex: '^(include|src|app)/'
CheckOptions:
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: CamelCase
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: '_'
